// ============================================
// フッター - _footer.scss
// ============================================

@use '../variables' as *;
@use '../mixins' as *;

footer {
  width: 100%;
}

.footer__w {
  width: 100%;
  background: $color-bg-dark;
  position: relative;

  p {
    font-size: $font-size-xs;
    text-align: center;
    color: $color-text-white;
    padding: 0 0 30px 0;

    @include sp {
      padding: 0 0 2vw 0;
    }
  }
}

.footer1 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include pc {
    width: $content-width-lg;
  }

  @include sp {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.footer2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $color-text-white;
  text-align: center;
}

.footer3 {
  width: 100%;
  margin-bottom: 2rem;
  font-weight: $font-weight-normal;

  @include pc {
    font-size: $font-size-lg;
  }

  @include sp {
    font-size: $font-size-sm;
  }
}

.footer4 {
  width: 100%;
  margin-bottom: 1.5rem;

  @include pc {
    letter-spacing: 0.2rem;
  }

  @include sp {
    letter-spacing: 0.05rem;
  }
}

.footer5 {
  a {
    color: $color-text-white;
    font-weight: $font-weight-medium;
    font-family: $font-family-yakuhan;

    @include pc {
      font-size: $font-size-3xl;
    }

    @include sp {
      font-size: $font-size-xl;
    }
  }
}

.footer_logo {
  margin: 0 auto;
  text-align: center;
  padding: 70px 0 60px;

  @include sp {
    padding: 10vw 0 5vw;
  }

  img {
    background: $color-bg-white;
    padding: 1rem 2rem;
    border-radius: $border-radius-md;

    @include pc {
      width: 168px; // 280px * 60%
    }

    @include sp {
      width: 36%; // 60% * 60%
    }
  }
}


// ============================================
// ページトップボタン
// ============================================

.btn_pagetop {
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition-base $easing-default, visibility $transition-base $easing-default;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  @include pc {
    right: 20px;
  }

  @include sp {
    right: 1rem;
    z-index: 3;
  }

  a {
    display: block;
    opacity: 0.9;
    transition: opacity $transition-fast $easing-default;

    @include pc {
      width: 50px;
    }

    @include sp {
      width: 6vw;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
