// ============================================
// ヒーローエリア（メインビジュアル） - _hero.scss
// ============================================

@use '../variables' as *;
@use '../mixins' as *;

// Swiperラッパー
.swiper__w {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #e8dcc1;

  @include pc {
    height: 600px;
  }
}

.swiper {
  width: 100%;
  position: relative;

  @include pc {
    height: 600px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $color-bg-white;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  // ズームアニメーション
  &.swiper-slide-prev .slide-img {
    animation: zoomUp 10s linear 0s 1 normal both;
  }
}

// メインテキストエリア
.swiper_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index-dropdown;

  @include sp {
    width: 100%;
  }
}

.swiper_txt0 {
  @include sp {
    padding: 7rem 3rem;
    width: 75%;
    margin: 0 auto;
  }
}

.swiper_txt1 {
  width: 100%;
}

.swiper_txt2 {
  width: 100%;
  text-align: center;

  img {
    @include pc {
      width: 669px;
    }

    @include sp {
      width: 100%;
    }
  }
}

.swiper_txt3 {
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: $transition-base;
    font-weight: $font-weight-normal;
    color: $color-text-white;
    font-size: $font-size-lg;
    line-height: $line-height-tight;
    letter-spacing: 0.1rem;
    background: #e94919;
    border-radius: $border-radius-sm;
    padding: 1.8rem 6rem;

    span::before {
      content: "";
      background: url(../images/ic_arrow.svg);
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.8rem;
    }
  }
}

// ナビゲーションボタン非表示
.swiper-button-prev {
  display: none !important;
}


// ============================================
// 背景スライダー（jQueryプラグイン用）
// ============================================

.mainimg_w {
  position: relative;

  @include pc {
    width: 100%;
  }

  @include sp {
    height: 90vh;
    background-position: top center !important;
    background-size: contain !important;
    text-align: center;
    background-repeat: no-repeat !important;
  }
}
